<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        img(src=`/${book.imageUrl}` alt=book.title width= "300vh")
        h1 #{book.title}
        h3 #{book.author}
        h4 #{book.createdAt}
        h4 #{book.description}
        |Enrolled By
        img(src=book.enrolledBy[0].profilePhoto width="50vh")
        h3 #{book.enrolledBy[0].username}
        if(user)
            form(action=routes.postReview(book.id) method="post")
                input(type="text", name="reviewContent", placeholder="책에 대한 평가를 남겨주세요!")
                input(type="number" name="rate", placeholder="평점을 남겨주세요" min=0 max=10 value=5 step=.1)
                input(type="submit" value="등록")
        each item in book.review
            img(src=item.creatorPhoto width="50vh")
            h3 #{item.creator}
            h3 #{item.content}
            h3 #{item.rate}점
            h4 #{item.createdAt}